* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.right-links ul {
  display: flex;
  gap: 16px;
}

.right-links ul li {
  font-size: 18px;
}

.right-links ul li a {
  color: #e5e7eb;
}

.right-links ul li a:hover {
  color: #3882f6;
}

.logo {
  font-size: 28px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

/* Hero Section */

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  height: 750px;
  padding: 15px 220px 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front {
  display: flex;
  padding-top: 65px;
}

.front-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  justify-content: center;
  padding: 16px 32px;
}

.front-content p {
  font-size: 18px;
}

.front-image {
  width: 850px;
  height: 375px;
}

.btn-1 {
  padding: 10px 16px;
  background-color: #3882f6;
  border-radius: 6px;
  border: none;
  color: #e5e7eb;
  font-weight: bolder;
  width: fit-content;
  font-size: 14px;
  margin-top: 16px;
  cursor: pointer;
}

.btn-1:hover {
  background-color: #e5e7eb;
  color: #3882f6;
}

/* About Section */

.about {
  padding: 100px 200px;
}

.about h2 {
  text-align: center;
  margin-bottom: 70px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card p {
  text-align: center;
  width: 200px;
  padding: 12px 5px 30px;
}

.box {
  border: 5px solid #3882f6;
  width: 200px;
  height: 200px;
  border-radius: 18px;
}
